<section class="home">
  <h1>Bits to Change</h1>
  <%= image_tag 'full-logo-large.png', :alt => 'Bits to Change', :class => 'logo' %>
  <aside class="slogan">
    <p>Giving the change to those who make the change.</p>
  </aside>
  <aside class="mailing-list">
    <%= form_tag users_path do %>
      <%= text_field_tag :mailing_email, nil, :placeholder => 'help-the-world@example.com', :type => 'email' %>
      <%= button_tag 'Stay in the loop', :class => 'button postfix' %>
    <% end %>
    <p>Sign up to get emails about our progress</p>
  </aside>
  <section id="goals">
    <h1>Our Goal:</h1>
    <ol>
      <li>To empower community driven charities to accept Bitcoin and embrace the future of fundraising with ease.</li>
      <li>To build a hub for discovering reputable charities, big and small, across all interests and causes.</li>
      <li>To further Bitcoins as a force for good and lead the way to safer online transactions.</li>
    </ol>
  </section>
</section>
