<div class="promo-wrapper">
  <div class="promo">
    <div class="hero">
      <div class="logo">
        <%= image_tag 'full-logo.png', :alt => 'Bits to Change' %>
      </div>
      <p class="slogan">Giving the change to those that make the change.</p>
      <div class="mailing-list">
        <%= form_tag users_path do %>
          <%= text_field_tag :mailing_email, nil, :placeholder => 'help-the-world@example.com' %>
          <%= button_tag 'Stay in the loop', :class => 'button postfix' %>
        <% end %>
        <p>Sign up to get emails about our progress</p>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="row">
    <div class="contact">
      <p>technical@bitstochange.org | All Rights Reserved &copy; 2014, BitsToChange, LLC</p>
    </div>
  </div>
</footer>