@import "foundation_and_overrides";

$primary-color: #f6921e;
$secondary-color: #1a719c;
$background-color: #e7e7e7;
$background-color-dark: #024a68;

@import "home.css.scss";

body {
  background: $background-color-dark;
  font-family: "Ubuntu" sans-serif;
  color: #ddd;
}

// button {
//   background-color: $primary-color;
// }