$primary-color: #ed4e0c;
$secondary-color: #f26b1d;
$tertiary-color: #f28833;
$quartenary-color: #f3af5a;

$panel-bg: $primary-color;
$panel-font-color: white;
$button-bg: $quartenary-color;

$body-bg: #fdf2e5;

@import "foundation_and_overrides";
@import "home";
@import "charities";
@import "campaigns";
@import "shared";

body.f-topbar-fixed {
  padding-top: $topbar-height;
}

section#content {
  @include grid-row();
}

.wrapper {
  @include grid-column(12);
  background-color: white;

  min-height: 100vh;
  padding-top: 15px;
}


footer {
  text-align: center;
  background-color: $primary-color;
  color: white;
  padding: .5rem 0;

  p {
    display: inline;

    &:not(:first-child):before {
      content: "| ";
    }
  }
}

a.wallet {
  word-break: break-all;
}

button, input[type="submit"] {
  @include button($bg: $button-bg);
}

// Style Placeholders for inputs
input[type="email"]::-webkit-input-placeholder {
  color: $quartenary-color;
}
input[type="email"]:-moz-placeholder {
  color: $quartenary-color;
}
input[type="email"]::-moz-placeholder {
  color: $quartenary-color;
}
input[type="email"]:-ms-input-placeholder {
  color: $quartenary-color;
}