$primary-color: #F26B1D;
$secondary-color: #f26b1d;
$tertiary-color: #f28833;
$quartenary-color: #f3af5a;

$panel-bg: $primary-color;
$panel-font-color: white;
$button-bg: $quartenary-color;

$body-bg: #f2e8dc;

$padding-above-footer: 1rem;

@import "foundation_and_overrides";
@import "home";
@import "charities";
@import "campaigns";
@import "shared";
@import "about";

body.f-topbar-fixed {
  padding-top: $topbar-height;
}

section#content {
  @include grid-row();
}

.wrapper {
  @include grid-column(12);
  background-color: white;

  min-height: 100vh;
  padding-top: 15px;
  padding-bottom: $padding-above-footer;

  background: url('/images/white_texture.png') top left repeat;

  @media #{$medium-up} {
    -webkit-box-shadow: 10px 0px 15px -2px #BD9057, -10px 0px 15px -2px #BD9057;
       -moz-box-shadow: 10px 0px 15px -2px #BD9057, -10px 0px 15px -2px #BD9057;
            box-shadow: 10px 0px 15px -2px #BD9057, -10px 0px 15px -2px #BD9057;
  }
}

footer {
  text-align: center;
  background-color: $primary-color;
  color: white;
  padding: .5rem 0;

  p {
    display: inline;

    &:not(:first-child):before {
      content: "| ";
    }
  }
}

a.wallet {
  word-break: break-all;
}

button, input[type="submit"] {
  @include button($bg: $button-bg);
}

// Style Placeholders for inputs
input[type="email"]::-webkit-input-placeholder {
  color: $quartenary-color;
}
input[type="email"]:-moz-placeholder {
  color: $quartenary-color;
}
input[type="email"]::-moz-placeholder {
  color: $quartenary-color;
}
input[type="email"]:-ms-input-placeholder {
  color: $quartenary-color;
}