.wrapper section.home {
  @include grid-column(12);

  h1 {
    text-indent: -10000px;
    height: 0;
    padding: 0;
    margin: 0;
  }

  img.logo {
    margin-top: 15px;
  }

  aside.slogan {
    p {
      text-align: right;
      font-style: italic;
      margin-bottom: 5px;

      @media #{$medium-up} {
        text-align: center;
        font-size: $base-font-size * 1.5;
        margin-bottom: 1.25rem;
      }
    }
  }

  aside.mailing-list {
    @include panel();

    p {
      text-align: center;
      font-size: $base-font-size * .8;
    }

    @media #{$medium-up} {
      @include grid-column(9, $center: true);
      input {
        @include grid-column(9);
      }

      button {
        @include prefix-postfix-base();
        @include postfix($primary-color);
        @include grid-column(3);
      }
    }
  }
}